name: Build and test
on: [pull_request]

permissions:
  contents: read # for checkout

jobs:
  gorelease:
    runs-on: ubuntu-latest
    environment:
      name: release
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.22.x
      - name: Build app
        run: make build
      - name: Test app
        run: make test
