name: Test

on: [pull_request]

jobs:
  commitlint:
    runs-on: ubuntu-22.04
    steps:
      - name: Fetch codebase
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"
      - name: Install dependencies
        run: npm i -D @semantic-release/git @semantic-release/changelog @commitlint/{cli,config-conventional} commitlint
      - name: Validate PR commits with commitlint
        run: npx commitlint --from ${{ github.base_ref }} --to ${{ github.event.pull_request.head.sha }} --verbose

  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Fetch codebase
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      # TODO: Run Go tests
      # - name: Test
      #   run:
